<form class="{{cssClass}} weapon-sheet" autocomplete="off">
    <div class="vereteno weapon sheet-header">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <img class="vereteno item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="vereteno item-info">
            <h3 class="vereteno type-header">{{localize "vereteno.common.weapon"}}</h1>
                <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" /></h1>
        </div>
    </div>
    <div class="vereteno weapon sheet-content">
        <div class="vereteno weapon stat stat-modifier">
            <div class="vereteno stat title">{{localize "vereteno.weapon.modifier"}}</div>
            <div class="vereteno stat value"><input name="system.modifier" type="number" value="{{modifier}}"
                    data-dtype="Number"></div>
        </div>
        <div class="vereteno weapon stat stat-damage">
            <div class="vereteno stat title">{{localize "vereteno.weapon.damage"}}</div>
            <div class="vereteno stat value"><input name="system.damage" type="number" value="{{damage}}"
                    data-dtype="Number"></div>
        </div>
        <div class="vereteno weapon stat stat-initiative">
            <div class="vereteno stat title">{{localize "vereteno.weapon.initiative"}}</div>
            <div class="vereteno stat value"><input name="system.initiative" type="number" value="{{initiative}}"
                    data-dtype="Number"></div>
        </div>
        <div class="vereteno weapon stat stat-crit">
            <div class="vereteno stat title">{{localize "vereteno.weapon.crit"}}</div>
            <div class="vereteno stat value"><input name="system.crit" type="number" value="{{crit}}"
                    data-dtype="Number"></div>
        </div>
        <div class="vereteno weapon stat stat-attack-type">
            <div class="vereteno stat title">{{localize "vereteno.weapon.weaponType"}}</div>
            <div class="vereteno stat value">
                <select name="system.weaponType">
                    {{#select weaponType}}
                    {{#each weaponTypes as |value type|}}
                    <option value="{{value.type}}">{{value.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="vereteno weapon stat stat-range">
            <div class="vereteno stat title">{{localize "vereteno.weapon.range"}}</div>
            <div class="vereteno stat value">
                <select name="system.range">
                    {{#select range}}
                    {{#each ranges as |value type|}}
                    <option value="{{value.type}}">{{value.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="vereteno weapon stat stat-attack-with">
            <div class="vereteno stat title">{{localize "vereteno.weapon.attackWith"}}</div>
            <div class="vereteno stat value">
                <select name="system.attackWith">
                    {{#select attackWith}}
                    {{#each skills as |value type|}}
                    <option value="{{value.type}}">{{value.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="vereteno weapon stat stat-has-burst">
            <div class="vereteno stat title">{{localize "vereteno.weapon.burst"}}</div>
            <div class="vereteno stat value"><input name="system.hasBurst" type="checkbox" {{checked hasBurst}}></div>
        </div>
        {{> "systems/vereteno/templates/sheets/partials/item/physical-item-block.hbs"}}
    </div>
</form>