<section class="vereteno item-plate">
    <div class="vereteno item-image"><img src="{{img}}"></div>
    <div class="weapon-stats">
        <div class="name">
            {{name}}
        </div>
        {{#with system}}
        <div class="stats">
            <div class="stat">
                <span><i title="Модификатор атаки" class="fa-solid fa-plus"></i></span><label>{{modifier}}</label>
            </div>
            <div class="stat">
                <span><i title="Урон" class="fa-solid fa-droplet"></i></span><label>{{damage}}</label>
            </div>
            <div class="stat">
                <span><i title="Инициатива" class="fa-solid fa-clock"></i></span><label>{{initiative}}</label>
            </div>
            <div class="stat">
                <span><i title="Крит" class="fa-solid fa-bolt"></i></span><label>{{crit}}</label>
            </div>
        </div>
        {{/with}}
    </div>
    <div class="weapon-actions">
        <div class="action">
            <a class="equip-action action weapon-attack" data-roll-type="weapon" data-item-id="{{_id}}"
                data-weapon-type="melee" data-attack-type="power">
                <i title="Мощная атака" class="material-icons">label</i></a>
        </div>
        <div class="action">
            <a class="equip-action action weapon-attack" data-roll-type="weapon" data-item-id="{{_id}}"
                data-weapon-type="melee" data-attack-type="regular">
                <i title="Обычная атака" class="material-icons-outlined">label</i>
            </a>
        </div>
        <div class="action">
            <a class="equip-action action weapon-attack" data-roll-type="weapon" data-item-id="{{_id}}"
                data-weapon-type="melee" data-attack-type="light">
                <i title="Быстрая атака" class="material-icons-outlined">label</i>
            </a>
        </div>
        <div class="action">
            <a class="equip-action action weapon-unequip" data-item-id="{{_id}}"><i title="Определить инициативу"
                    class="fa-solid fa-hourglass-half"></i></a>
        </div>
        <div class="action">
            <a class="equip-action action weapon-unequip" data-item-id="{{_id}}"><i title="Убрать в рюкзак"
                    class="fa-solid fa-box-open"></i></a>
        </div>
    </div>
</section>