<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="system.hitPoints.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.hitPoints.value" value="{{system.hitPoints.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.hitPoints.max" value="{{system.hitPoints.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.willPoints.value" class="resource-label">Will</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.willPoints.value" value="{{system.willPoints.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.willPoints.max" value="{{system.willPoints.max}}" data-dtype="Number" />
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="statistics">Statistics</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab statistics" data-group="primary" data-tab="statistics">
      <div class="attributes container">
        {{#each system.attributes as |attribute key|}}
        <div class="attribute">
          <div class="para">
            <label for="system.attributes.{{key}}.value" class="rollable align-left label"
              data-roll="{{attribute.value}}d20" data-label="{{attribute.label}}">{{attribute.label}}</label>
            <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number"
              class="align-right value" />
          </div>

          <div class="skills {{attribute.label}}">
            {{#each attribute.skills as |skill skey|}}
            <label for="system.skills.{{skey}}.value" class="resource-label rollable flexlarge align-left"
              data-roll-type="skill" data-roll-key="{{skey}}" data-label="{{skill.label}}">{{skill.label}}</label>
            <input type="text" name="system.skills.{{skey}}.value" value="{{skill.value}}" data-dtype="Number" />
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</form>