<section class="vereteno item-plate">
    <div class="vereteno item-image"><img src="{{img}}"></div>
    <div class="weapon-stats">
        <div class="name">
            {{name}}
        </div>
        {{#with system}}
        <div class="stats">
            <div class="stat">
                <span><i title="Модификатор атаки" class="fa-solid fa-plus"></i></span><label>{{modifier}}</label>
            </div>
            <div class="stat">
                <span><i title="Урон" class="fa-solid fa-droplet"></i></span><label>{{damage}}</label>
            </div>
            <div class="stat">
                <span><i title="Инициатива" class="fa-solid fa-timer"></i></span><label>{{initiative}}</label>
            </div>
            <div class="stat">
                <span><i title="Крит" class="fa-solid fa-bolt"></i></span><label>{{crit}}</label>
            </div>
            <div class="stat">
                <span><i title="Дальность" class="fa-solid fa-ruler"></i></span><label>{{range}}</label>
            </div>
            <div class="stat">
                <span><i "Атака с" class="fa-solid fa-hand"></i></span><label>{{attackWith}}</label>
            </div>
        </div>
        {{/with}}
    </div>
    <div class="weapon-actions">
        <div class="action">
            <a class="equip-action action armor-equip" data-item-id="{{_id}}">
                <i class="fa-solid fa-hand"></i>
            </a>
            <a class="delete-action action item-remove" data-item-id="{{_id}}">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>