<form class="{{cssClass}} character-sheet" autocomplete="off">
    <div class="sheet-header">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">

        <img class="vereteno character-image" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="character-stats">
            <h1 class="vereteno character-name"><input name="name" type="text" value="{{actor.name}}"
                    placeholder="{{ localize 'Name' }}" /></h1>
            <div class="vereteno character stats">
                {{> "systems/vereteno/templates/sheets/partials/actor/stats-block.hbs"}}
            </div>
        </div>
    </div>

    <div class="vereteno character sheet-content">
        <div class="sheet-tabs tabs flex row" data-group="primary">
            <b class="item" data-tab="main">{{localize "vereteno.tab.stat"}}</b>
            <b class="item" data-tab="equipment">{{localize "vereteno.tab.equipment"}}</b>
            <b class="item" data-tab="fight">{{localize "vereteno.tab.fight"}}</b>
            <b class="item" data-tab="bio">{{localize "vereteno.tab.bio"}}</b>
        </div>
        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="main">
                {{> "systems/vereteno/templates/sheets/partials/actor/stats-tab.hbs"}}
            </div>
            <div class="tab" data-group="primary" data-tab="equipment">
                {{> "systems/vereteno/templates/sheets/partials/actor/equipment-tab.hbs" system}}
            </div>
            <div class="tab" data-group="primary" data-tab="fight">
                {{> "systems/vereteno/templates/sheets/partials/actor/fight-tab.hbs" system}}
            </div>
            <div class="tab" data-group="primary" data-tab="bio">
                {{> "systems/vereteno/templates/sheets/partials/actor/bio-tab.hbs"}}
            </div>
        </div>
    </div>
</form>