<section>
    <div class="skills-container">
        {{#each system.attributes as |attribute key|}}
        <div class="attribute-skills">
            <div class="attribute">
                <h2 for="system.attributes.{{key}}.value" class="attribute-label rollable align-left label"
                    data-roll="{{attribute.value}}d20" data-label="{{key}}">{{key}}</h2>
                <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}"
                    data-dtype="Number" class="attribute-value align-right value" />
            </div>
            <div class="skills">
                {{#each attribute.skills as |skill skey|}}
                <div class="skill skill-{{skey}}">
                    <label for="system.skills.{{skey}}.value" class="skill-label rollable align-left label" data-roll="{{skey}}"
                        data-label="{{skey}}">{{skey}}</label>
                    <input type="text" name="system.skills.{{skey}}.value" value="{{skill.value}}" data-dtype="Number"
                        class="skill-value align-right value" />
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</section>