<section>
    <div class="stats-container">
        <div class="vereteno character stat hit-points">
            <label class="vereteno stat title">{{system.stats.hitPoints.label}}</label>
            <div class="value-container">
                <input class="stat-value" name="system.stats.hitPoints.value" type="text"
                    value="{{system.stats.hitPoints.value}}" data-dtype="Number">
                /
                <label class="stat-max" for="system.stats.hitPoints.max" class="rollable align-left label"
                    data-label="{{system.stats.hitPoints.max}}">{{system.stats.hitPoints.max}}</label>
            </div>
        </div>
        <div class="vereteno character stat will-points">
            <label class="vereteno stat title">{{system.stats.willPoints.label}}</label>
            <div class="value-container">
                <input class="stat-value" name="system.stats.willPoints.value" type="text"
                    value="{{system.stats.willPoints.value}}" data-dtype="Number">
                /
                <label class="stat-max" for="system.stats.willPoints.max" class="rollable align-left label"
                    data-label="{{system.stats.willPoints.max}}">{{system.stats.willPoints.max}}</label>
            </div>
        </div>
        <div class="vereteno character stat reputation">
            <label class="vereteno stat title">{{system.stats.reputation.label}}</label>
            <div class="value-container">
                <input class="stat-value" name="system.stats.reputation.value" type="text"
                    value="{{system.stats.reputation.value}}" data-dtype="Number">
            </div>
        </div>
    </div>
</section>