<section>
    <div class="stats-container">
        <div class="being-stats">
            <div class="vereteno character stat hit-points">
                <label class="vereteno stat title">{{stats.hitPoints.label}}</label>
                <div class="value-container">
                    <input class="stat-value" name="system.stats.hitPoints.value" type="number"
                        value="{{stats.hitPoints.value}}" data-dtype="Number">
                    /
                    <label class="stat-max" for="system.stats.hitPoints.max" class="align-left label"
                        data-label="{{stats.hitPoints.max}}">{{stats.hitPoints.max}}</label>
                </div>
            </div>
            <div class="vereteno character stat will-points">
                <label class="vereteno stat title">{{stats.willPoints.label}}</label>
                <div class="value-container">
                    <input class="stat-value" name="system.stats.willPoints.value" type="number"
                        value="{{stats.willPoints.value}}" data-dtype="Number">
                    /
                    <label class="stat-max" for="system.stats.willPoints.max" class="align-left label"
                        data-label="{{stats.willPoints.max}}">{{stats.willPoints.max}}</label>
                </div>
            </div>
        </div>
        <div class="wealth-stats">
            <div class="vereteno character stat reputation">
                <label class="vereteno stat title">{{localize "vereteno.common.reputation"}}</label>
                <div class="value-container">
                    <input class="stat-value" name="system.reputation" type="number"
                        value="{{reputation}}" data-dtype="Number">
                </div>
            </div>
            <div class="vereteno character stat money">
                <label class="vereteno stat title">{{localize "vereteno.common.money"}}</label>
                <div class="value-container">
                    <input class="stat-value double" name="system.money" type="number"
                        value="{{money}}" data-dtype="Number">
                </div>
            </div>
            <div class="vereteno character stat exp">
                <label class="vereteno stat title">{{localize "vereteno.common.experience"}}</label>
                <div class="value-container">
                    <input class="stat-value double" name="system.exp" type="number" value="{{exp}}"
                        data-dtype="Number">
                </div>
            </div>
        </div>
    </div>
</section>