<section>
    <div class="stats-container">
        <div class="vereteno character stat hit-points">
            <label class="vereteno stat title">{{localize "HitPoints"}}</label>
            <div>
                <input class="stat-value" name="system.hitPoints.value" type="text" value="{{system.hitPoints.value}}"
                    data-dtype="Number">
                /
                <label class="stat-max" for="system.hitPoints.max" class="rollable align-left label"
                    data-label="{{system.hitPoints.max}}">{{system.hitPoints.max}}</label>
            </div>
        </div>
        <div class="vereteno character stat will-points">
            <label class="vereteno stat title">{{localize "WillPoints"}}</label>
            <div>
                <input class="stat-value" name="system.willPoints.value" type="text" value="{{system.willPoints.value}}"
                    data-dtype="Number">
                /
                <label class="stat-max" for="system.willPoints.max" class="rollable align-left label"
                    data-label="{{system.willPoints.max}}">{{system.willPoints.max}}</label>
            </div>
        </div>
        <div class="vereteno character stat reputation">
            <label class="vereteno stat title">{{localize "Reputation"}}</label>
            <div>
                <input class="stat-value" name="system.reputation.value" type="text" value="{{system.reputation.value}}"
                    data-dtype="Number">
                /
                <label class="stat-max" for="system.reputation.max" class="rollable align-left label"
                    data-label="{{system.reputation.max}}">{{system.reputation.max}}</label>
            </div>
        </div>
    </div>
</section>