<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">{{this.formula}}</span>
                        {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                        <span class="part-total">{{this.total}}</span>
                    </header>
                    <ol class="dice-rolls">
                        {{#each this.rolls}}
                        <li class="roll die {{this.classes}}">{{{this.result}}}</li>
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>
        <h4 class="dice-total">{{veretenoTotal}}</h4>
    </div>
</div>