<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-header">
        <img class="vereteno character-image" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <h1 class="vereteno character-info"><input name="name" type="text" value="{{actor.name}}"
                placeholder="{{ localize 'Name' }}" /></h1>
    </div>

    <div class="vereteno character sheet-content">
        <div class="sheet-tabs tabs flex row" data-group="primary">
            <b class="item" data-tab="main">{{localize "vereteno.tab.stat"}}</b>
            <b class="item" data-tab="equipment">{{localize "vereteno.tab.equipment"}}</b>
            <b class="item" data-tab="fight">{{localize "vereteno.tab.fight"}}</b>
        </div>
        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="main">
                {{> "systems/vereteno/templates/sheets/partials/actor/stats-tab.hbs"}}
            </div>
            <div class="tab" data-group="primary" data-tab="equipment">
                {{> "systems/vereteno/templates/sheets/partials/actor/equipment-tab.hbs" system}}
            </div>
            <div class="tab" data-group="primary" data-tab="fight">
                {{> "systems/vereteno/templates/sheets/partials/actor/fight-tab.hbs" system}}
            </div>
        </div>
    </div>
</form>